
body {

    font-family: "Trebuchet MS";
    background-image: url("repeat-bg.png");
    background-repeat: repeat;
    background-size: contain;
    min-height: 100vh;
    min-width: 100vh;
}

h3{
    color: rgb(0, 73, 78);
    margin: 5px 0 12px 0;
}

.rowCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.contentBox{
    background: #e0e7e3;
    margin: 5px;
    padding: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}
.contentBox button{
    float: right;
    margin: 4px 0 0 0;
}

.myForm{
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 5px;
}

.myForm label{
    float:left;
    height: 20px;
    font-size: small;
    margin: 0 10px 0 0;
}
.myForm input, .myForm select {
    float: right;
    height: 20px;
    width: 130px;
}

#logo{
    margin: 0 10px 0 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

#loginContainer {
    margin-top: 100px;
    height: 400px;
}

#accountArea {
    margin-left: 10px;
    height: 400px;
    width: 250px;
}

#signin{
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

#signup{
    justify-content: space-evenly;
    margin: 0;
    flex-grow: 1
}

#main{
    margin: 0 auto;
    width: 800px;
    /*background-color: rgba(173, 216, 230, 0.8);*/
}

.tab{
    width: 23%;
    height: 50px;
    margin-top: 15px;
    margin-right: -10px;
    background-color: #b2b8b5;
    /*border: 2px solid;*/
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    transition: all .2s;
}
.tab:hover {
    height: 60px;
    margin-top: 5px;
    transition-duration: .2s;
}

.pcontent{
    margin: 40px 30px 30px 30px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    justify-items: start;
}

.gridItem {
    max-width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*display: block;*/
}

.gridItem img{
    width: auto;
    height: 100%;
    max-width:100%;
    object-fit: scale-down;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5)
}

.gridItem video{
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5)
}

.gridItem:hover{
    outline: 5px solid gold;
    transition-duration: .1s;
}

.gridVideo{
    grid-column: span 2;
    margin: auto;
}

.optionElement{
    display: inline-block;
    padding: 6px;
    margin: 0 5px;
    cursor: pointer;
    font-size: small;
    background: white;
}

.custom-file-upload{
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    background: #c7ceca;
    font-size: small;
    margin: 5px auto;
}

.graph{
    margin: 2px;
}

.error {
    color: red;
    width: 100%;
    font-size: 14px;
}

#pcontainer{
    background-color: #c7ceca;
    margin: 0 20px 20px 20px;
    /*outline: 2px solid;*/
    z-index: 4;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

#signOutButton{
    height: 30px;
    width: 100px;
    float: none;
    background: lightblue;
}

#userDiv, #v-userDiv{
    flex-grow: 1;
    height: auto;
    max-width: 270px;
}

.userInfo{
    display: flex;
    justify-content: space-evenly;
}

#pictureArea, #v-pictureArea{
    display: block;
    margin: auto;
    border: 5px solid #c7ceca;
    max-width: 190px;
    max-height: 190px;
}

.homeWall{
    flex-grow: 3;
    max-width: 400px;
}

.writePostForm textarea{
    width: 100%;
    height: 58px;
}

.postWall{
    flex-grow: 1;
}

#wall, #v-wall{
    height: 260px;
    overflow: scroll;
    padding: 5px;
    background: #f3faf6;
    border: 5px solid #c7ceca;
}

#uploadForm{
    margin: 0;
    text-align: center;
}

#file-selected, #v-file-selected{
    margin: 5px auto;
    padding: 3px;
    border-bottom: 2px solid #e0e7e3;
}

.uploadsContainer{
    margin: 0 20px 20px 20px;
    background: #F9F8F9;
    border: 5px solid #c7ceca;
    max-height: 800px;
    overflow: scroll;
}

#uploads, #v-uploads{
    padding: 40px 40px 0 40px;
    margin: 20px;
}

